*{
  font-family: 'Inter', sans-serif;
}
.stock-display-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  width :832px;
  height:48px;
  background-color: black;
  border-radius: 7px;
}
.stock-info {
  display: flex;
  gap: 1.5rem;
}

.stock-header {
  display: flex;
  flex-direction: column;
}

.stock-name {
  color: white;
  font-size: 0.9rem;
}

.stock-exchange {
  position:relative;
  left:0;
  color: #888;
  font-size: 0.7rem;
}

.stock-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stock-price {
  color: white;
  font-size: 1rem;
}

.stock-change {
  font-size: 0.7rem;
}
.change-icon{
  font-size: 0.7rem;
  margin: 3px;
}
.stock-change.negative,.change-icon.negative {
  color: #ff4444;
}

.stock-change.positive,.change-icon.positive {
  color: #00ff88;
}
.divider{
  color: #888;
  font-size: 1.25rem;
}
