*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    background-color: black;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.home-main {
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
      background-color: rgba(30, 60, 42, 0.072);

}

.home-main .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: white;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.center_btn,.right_btn,.left_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.navbar_btn{
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    transition: color 0.3s ease;
    border-radius: 20px;
    font-weight: 550;
    padding: 8px 20px;
    transition: all 0.3s linear;
}
.login_btn
{
    background-color: white;
    color : black;
    padding: 8px 20px;       /* styles for login button */
    border-radius: 10px;
    border: 1px solid black;
}

.navbar_btn:hover{
    background-color: #00C853;
    font-weight: 550; 
    color:black;
    border: 1px solid black;
     /* background-color: black; */
}
.login_btn:hover{
    background-color:  #00C853;
    font-weight: 550; 
    color:black;
     /* background-color: black; */
}
.navbar_btn *{
    cursor: pointer;
}
.mode_btn{
    box-shadow: 0 2px 10px rgba(26, 236, 47, 0.3);
    /* z-index: -1; */
    border-radius: 50%;
    padding: 10px;
    display: none;
}
.mode_btn img{
    height: 30px;
    cursor: pointer;
}
.logo img{
    height: 65px;
}
.main_page{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.home-body{
    width: 100%;
    position: relative;
    top: 50px;
    min-height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
}
.middle_text_part{
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    justify-content: center;
    min-height: 50%;
    gap:50px;
    /* background-color: red; */
    align-items: center;
    min-width: 90%;
    
}
.middle_text_part .title h1{
    color: white;
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.middle_text_part .subtitle{
    color : rgba(255, 255, 255, 0.859);
    font-size: 2rem;
    font-weight: lighter;
    text-align: center; 
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
    font-style: oblique;
}
.get_started_btn{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle_text_part .get_started_btn button{
    background-color: white;
    border: 1px solid black;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    transition: color 0.3s ease;
    border-radius: 10px;
    font-weight: 550;
    padding: 12px 30px;
    transition: all 0.3s ease-in-out;
}
.middle_text_part .get_started_btn button:hover{
     background-color: #24ee78af;
    font-weight: 550; 
     color: black;
}
.home-body img{
    width: 100%;
    height: 100vh;
    opacity: 0.35;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.dash_board_template{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    /* border: 2px solid white; */
    z-index: 2;
    width: 100%;
    margin-top: 50px;
  width: 100%;
  height: 100vh; /* full screen demo */
  /* background-color: rgba(28, 99, 57, 0.072); */

}


 .dash_board_template img{
   height: 90%; 
    width: auto;
    box-shadow: 8px 8px 32px 0 rgba(0, 200, 83, 0.25), 0 1.5px 6px 0 rgba(0,0,0,0.15);
    /* border-radius: 40px; */
 }
 .dash_board_template h1{
    /* position: relative; */
    /* top: ; */
    padding: 50px;
    margin-top: 100px;
    color: white;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
 }

.features_div{
    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: 20px;
    min-height: 120vh;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    justify-items: center;
}

.features_title_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.features_title_div h1{
    color: white;
    margin-top: 100px;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.features_section{
    /* background-color: red; */
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    width: 80%;
    padding: 0px 20px;
}
.features_card{
    /* background-color: green; */
    /* watchlist-rtl 1 */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid white;
    transition: all 0.3s linear;
    margin: 5px;
    padding: 5px;
}
.features_card img{
    /* width: 50px; */
    height: 130px;
    object-fit: contain;
    padding: 10px;
}
.feature_img{
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 10px;
    /* align-items: center; */
}
.feature_text_div{
    display: flex;
    flex-direction: column;    
}
.feature_text_div h2{
    color: #00C853;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: start;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    position: relative;
    left: 10px;
}
.feature_text_div p{
    color: rgba(255, 255, 255, 0.859);
    font-size: 1.3rem;
    text-align: start;
    padding: 10px;
    position: relative;
    left: 10px;
    font-family: 'Inter', sans-serif;
}
.features_card:hover{
    border: 2px solid #00C853;
    box-shadow: 8px 8px 32px 10px rgba(0, 200, 83, 0.25), 0 1.5px 6px 0 rgba(0,0,0,0.15);

}
.features_card:hover  button{
    background-color: #00C853;
    box-shadow: 0 2px 16px 8px rgba(255,255,255,0.15);
}
.see_detail_button button{
    width: fit-content;
    /* height: 100%; */
    padding: 10px 20px;
    background-color: white;
    color: black;
    /* border: 1px solid white; */
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    margin-top: 0.5rem;
    font-weight: 550;
    transition: all 0.3s linear;
    position: relative;
    left: 70%;
    margin-bottom: 10px;
    /* box-shadow: 0px 4px 8px rgba(18, 87, 16, 0.985); */
}
.powerful_features{
    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: 20px;
    min-height: 120vh;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    justify-items: center;
}
.p_features_title_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.p_features_title_div h1{
   color: white;
    /* margin-top: 100px; */
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.powerful_features_section{
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    width: 70%;
    padding: 0px 20px;
}
.p_features_card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    border-radius: 10px;
    border: 1px solid white;
    transition: all 0.3s linear;
    margin: 5px;
    padding: 5px;
    width: 450px;
}
.p_features_card img{
    /* width: 50px; */
    height: 90px;
    object-fit: contain;
    padding: 10px;
}
.p_feature_img{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
}
.p_feature_text_div{
    display: flex;
    flex-direction: column;    
}
.p_feature_text_div h2{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    position: relative;
 
}
.p_feature_text_div p{
    color: rgba(255, 255, 255, 0.637);
    font-size: 1.25rem;
    text-align: center;
    padding: 10px;
    font-weight: lighter;
    position: relative;
    font-family: 'Inter', sans-serif;
    
}
.p_features_card:hover{
    border: 1px solid #00C853;
    box-shadow: 8px 8px 32px 10px rgba(0, 200, 83, 0.25), 0 1.5px 6px 0 rgba(0,0,0,0.15);
}

.FAQs_div{
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 20px;
    min-height: 100vh;
    /* margin-top: 50px; */
    margin-bottom: 50px;
    width: 100%;
    justify-items: center;
}
.FAQ_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.FAQ_title h1{
    color: white;
    /* margin-top: 100px; */
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.FAQs_div .question_div{
    /* background-color: red; */
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.que{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column;   */
    /* background-color: blue; */
    padding-bottom: 10px;
    border-bottom: 2px solid #00C853;
}
.que h2{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    position: relative;
}
.que img{
    height: 20px;
    position: relative;
    top : 20px;
}