* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.footer-div{
    width: 100%;
    margin-top: auto;
}
.watchlist{
    background-color: black;
    
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.watchlist_content {
    margin-top: 140px;
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}