.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 440px;
  font-size: 1.25rem;
  color: #a1a1aa;
  background-color: #000;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 672px;
  margin: 0 auto;
  overflow: hidden;
}

.sector-allocation-container {
  background-color: #000;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 672px;
  margin: 0 auto;
  color: #f4f4f5;

  overflow-x: hidden;
}

.chart-wrapper {
  height: 400px;
  width: 100%;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 250px;
}


@media (max-width: 1050px) {
  .loading-container,
  .sector-allocation-container {
    padding: 14px;
    max-width: 100%;
    width: 95%;
  }

  .chart-wrapper {
    height: 300px;
    min-height: 220px;
  }
}


@media (max-width: 600px) {
  .loading-container,
  .sector-allocation-container {
    padding: 12px;
    width: 100%;
  }

  .chart-wrapper {
    height: 220px;
    min-height: 200px;
    overflow-x: auto;
  }
}
